// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
  --ion-font-family: 'Montserrat', sans-serif;

  --ion-color-primary: #19376c;
  --ion-color-primary-rgb: 25, 55, 108;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #16305f;
  --ion-color-primary-tint: #304b7b;

  --ion-color-secondary: #34528d;
  --ion-color-secondary-rgb: 52, 82, 141;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #2e487c;
  --ion-color-secondary-tint: #486398;

  --ion-color-tertiary: #031e49;
  --ion-color-tertiary-rgb: 3, 30, 73;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #031a40;
  --ion-color-tertiary-tint: #1c355b;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #ea4057;
  --ion-color-danger-rgb: 234, 64, 87;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #ce384d;
  --ion-color-danger-tint: #ec5368;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-background-color: #19376c;
  --ion-background-color-rgb: 25, 55, 108;

  --ion-text-color: #fefafe;
  --ion-text-color-rgb: 254, 250, 254;

  --ion-color-step-50: #244173;
  --ion-color-step-100: #304b7b;
  --ion-color-step-150: #3b5482;
  --ion-color-step-200: #475e89;
  --ion-color-step-250: #526891;
  --ion-color-step-300: #5e7298;
  --ion-color-step-350: #697b9f;
  --ion-color-step-400: #7585a6;
  --ion-color-step-450: #808fae;
  --ion-color-step-500: #8c99b5;
  --ion-color-step-550: #97a2bc;
  --ion-color-step-600: #a2acc4;
  --ion-color-step-650: #aeb6cb;
  --ion-color-step-700: #b9c0d2;
  --ion-color-step-750: #c5c9da;
  --ion-color-step-800: #d0d3e1;
  --ion-color-step-850: #dcdde8;
  --ion-color-step-900: #e7e7ef;
  --ion-color-step-950: #f3f0f7;
}
