<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-align-items-baseline ion-justify-content-center">
      <ion-col
        size-xs="10"
        size-sm="10"
        size-md="10"
        size-lg="10"
        class="ion-margin-top"
      >
        <div class="banner">
          <h1>Discover Latest Courses on Angular</h1>
          <ion-text color="medium" class="ion-margin-top">
            Join us and follow your desired learning path with our professional
            training
          </ion-text>
        </div>
      </ion-col></ion-row
    ></ion-grid
  >

  <section id="courses">
    <ion-grid>
      <ion-row class="ion-align-items-baseline ion-justify-content-center">
        <ion-col
          size-xs="10"
          size-sm="10"
          size-md="10"
          size-lg="10"
          class="ion-margin-vertical"
        >
          <ion-label color="danger">
            <h4 class="h4">Start learning today</h4>
          </ion-label>
          <ion-label>
            <h1>Explore our courses</h1>
          </ion-label>
          <ion-label color="light">
            <h3>
              Welcome to our state-of-art courses. Based on latest technologies
              and always up to date, here we showcased a selection of our
              courses. This space is dynamic and we'll regularly updated to make
              them available for you. Your learning journey and skill
              enhancements opportunity is here. Stay tuned for the latest
              updates!
            </h3>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

  </section>
</ion-content>
