.banner {
  margin-top: 25vh;
  margin-bottom: 25vh;
  text-align: center;

  h1 {
    font-size: 48px;
    line-height: 26px;
  }

  ion-text {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
  }
}

/* Set the height of each section to occupy the full screen */
section {
  height: 100vh;
  .row-80 {
    min-height: 80vh;
  }

  .row-70 {
    min-height: 70vh;
  }

  .row-60 {
    min-height: 60vh;
  }

  .row-50 {
    min-height: 50vh;
  }

  .row-40 {
    min-height: 40vh;
  }

  .row-30 {
    min-height: 30vh;
  }

  .row-20 {
    min-height: 10vh;
  }

  .row-auto {
    height: auto;
  }
}
